#display {
  display: none;
  font-size: 20px;
  font-family: 'Gumela', sans-serif;
  font-weight: bold;
  color: rgb(28, 28, 145);
}

.cal-form {
  display: flex;
  flex-direction: column;
}

.d {
  background: rgb(230, 125, 125);
}

.main-container-cal {
  text-align: center;
  justify-items: center;
  align-items: center;
  /* margin: 20px; */
}
